.InputfieldHeaderHidden>.InputfieldContent, .InputfieldHeaderHidden+.InputfieldContent {
    padding-top: 0;
}

#main .InputfieldForm > .Inputfields > .InputfieldMarkup.InputfieldHeaderHidden:not(.InputfieldNoBorder, .InputfieldWrapper) {
    outline: none !important;
    padding: 0 !important;
    margin-top: 0 !important;
    background: transparent !important;
}

.InputfieldHeader.prompt-ai-config--item-header {
    outline: 1px solid var(--border-color);
    background: var(--blocks-background) !important;
    padding-right: 16px;
    padding-top: 10px;
}

.prompt-ai-config--item {
    margin-bottom: 20px;
}

.btn-remove {
    cursor: pointer;
}

.prompt-ai-config--item-controls {
    float: right;
    margin-left: 10px;
}

.InputfieldCheckbox .InputfieldHeaderHidden + .InputfieldContent {
    padding-top: 20px;
}
